<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="3.0" package="nunitlite.runner" android:versionCode="3">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="nunitlite.runner"></application>
</manifest>